<%= form_with(model: maker, local: true) do |form| %>
  <% if maker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maker.errors.count, "error") %> prohibited this maker from being saved:</h2>

      <ul>
      <% maker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label : name %>
    <%= form.text_field : name, id: :maker_ name %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :maker_image_url %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :maker_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
